In [2]:
# Import necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import requests
import matplotlib.patches as patches
import geopandas as gpd
from scipy import stats
import seaborn as sns
import re
from IPython.display import display

In [3]:
#Read in data from first file
ucmr3=pd.read_csv("https://github.com/chencheny249/DataMiningProjSpring2025/blob/5777a5bb0d8dd7eaa06f48730eb5c3c39cf282ae/UCMR3_All.txt?raw=true", encoding='ISO-8859-1', delimiter='\t')
ucmr3.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,0.07,µg/L,EPA 522,<,NaN,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,20.00,µg/L,EPA 300.1,=,160.0,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,0.20,µg/L,EPA 200.8,<,NaN,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,0.30,µg/L,EPA 200.8,=,72.0,SE1,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water System,L,6,MPTN WTP,GU,D11,WTP EPTDS,EP,202.0,...,1.00,µg/L,EPA 200.8,<,NaN,SE1,AM,1,01,NaN

In [4]:
#Read in data from second file
ucmr4=pd.read_csv("https://github.com/chencheny249/DataMiningProjSpring2025/blob/5777a5bb0d8dd7eaa06f48730eb5c3c39cf282ae/UCMR4_All.txt?raw=true", encoding='ISO-8859-1', delimiter='\t')
ucmr4.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water,L,1,MPTN Distribution System,GU,D12,4 Pequot Circle,DS,NaN,...,NaN,µg/L,EPA 552.3,=,17.342,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water,L,1,MPTN Distribution System,GU,D12,4 Pequot Circle,DS,NaN,...,NaN,µg/L,EPA 552.3,=,16.800,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water,L,1,MPTN Distribution System,GU,D12,4 Pequot Circle,DS,NaN,...,NaN,µg/L,EPA 552.3,=,10.882,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water,L,1,MPTN Distribution System,GU,D12,4 Pequot Circle,DS,NaN,...,NaN,µg/L,EPA 552.3,=,0.748,SE2,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water,L,1,MPTN Distribution System,GU,D12,4 Pequot Circle,DS,NaN,...,NaN,µg/L,EPA 552.3,=,0.748,SE2,AM,1,01,NaN

In [5]:
#Read in data from last file
ucmr5=pd.read_csv("https://github.com/chencheny249/DataMiningProjSpring2025/blob/5777a5bb0d8dd7eaa06f48730eb5c3c39cf282ae/UCMR5_All.txt?raw=true", encoding='ISO-8859-1', delimiter='\t')
ucmr5.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.002,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.005,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.004,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.003,µg/L,EPA 533,=,0.0035,SE1,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.007,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN

In [6]:
#merge datasets
comb_df=pd.concat([ucmr5, ucmr4, ucmr3], ignore_index=True, sort=False)
comb_df.head()

,PWSID,PWSName,Size,FacilityID,FacilityName,FacilityWaterType,SamplePointID,SamplePointName,SamplePointType,AssociatedFacilityID,...,MRL,Units,MethodID,AnalyticalResultsSign,AnalyticalResultValue,SampleEventCode,MonitoringRequirement,Region,State,UCMR1SampleType
0,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.002,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
1,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.005,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN
2,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.004,µg/L,EPA 533,<,NaN,SE1,AM,1,01,NaN
3,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.003,µg/L,EPA 533,=,0.0035,SE1,AM,1,01,NaN
4,010106001,Mashantucket Pequot Water System,L,00006,MPTN WTP,GU,TP1,Entry point to Dist. System,EP,NaN,...,0.007,µg/L,EPA 537.1,<,NaN,SE1,AM,1,01,NaN

In [7]:
#Check if merge worked
ucmr5.shape[0]+ucmr4.shape[0]+ucmr3.shape[0]==comb_df.shape[0]

True

In [8]:
#Check for NAs
comb_df.isna().sum()

PWSID                            0
PWSName                          0
Size                             0
FacilityID                      60
FacilityName                    30
FacilityWaterType                0
SamplePointID                    0
SamplePointName                  0
SamplePointType                  0
AssociatedFacilityID       2503268
AssociatedSamplePointID    2503268
CollectionDate                   0
SampleID                         0
Contaminant                      0
MRL                         190359
Units                            0
MethodID                         0
AnalyticalResultsSign            0
AnalyticalResultValue      2850960
SampleEventCode                  0
MonitoringRequirement            0
Region                           0
State                            0
UCMR1SampleType            3363695
dtype: int64

FacilityID and FacilityName: since they refer to the same thing, any FacilityName with a NA will be filled with its corresponding FacilityID, if there is one.

AssociatedFacilityID and AssociatedSamplePointID: these are all null per the dataset technical documents. These columns will be deleted.

MRL: Certain contaminants do not have a MRL (minimum reporting level). This value does not have any health implications - it is just the lowest value that labs can report. NAs will be replaced with -1. It is the Anlaytical Result Value that tells us the actual concentration.

AnalyticalResultValue: per the technical documentation provided by the EPA, this value is NA when it is under the MRL. For all intents and purposes, these NAs will be replaced with 0 since they are lower than the minimum value labs need to report.

UCMR1SampleType: This is not needed for our analysis and will be deleted.

In [9]:
#Fill NAs as described above
comb_df.fillna({'AnalyticalResultValue':0}, inplace=True)
comb_df.fillna({'FacilityName':comb_df['FacilityID']}, inplace=True)
comb_df.fillna({'MRL':-1}, inplace=True)

In [10]:
#Create dictionary for PWS Names and IDs (ID column will be deleted, the dictionary allows us to call it back by name)
PWS_dict=dict(zip(comb_df['PWSName'],comb_df['PWSID']))
PWS_dict['Mashantucket Pequot Water System']

'010106001'

In [11]:
#Drop unnecessary columns
comb_df=comb_df.drop(['PWSID','FacilityID', 'SamplePointID', "MethodID", "AssociatedFacilityID","AssociatedSamplePointID","SampleEventCode","UCMR1SampleType"],axis=1)
comb_df.head()

,PWSName,Size,FacilityName,FacilityWaterType,SamplePointName,SamplePointType,CollectionDate,SampleID,Contaminant,MRL,Units,AnalyticalResultsSign,AnalyticalResultValue,MonitoringRequirement,Region,State
0,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,9Cl-PF3ONS,0.002,µg/L,<,0.0000,AM,1,01
1,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,8/9/2023,810-73346-1,NEtFOSAA,0.005,µg/L,<,0.0000,AM,1,01
2,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,PFNA,0.004,µg/L,<,0.0000,AM,1,01
3,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,9/27/2023,810-79458-1,PFHpA,0.003,µg/L,=,0.0035,AM,1,01
4,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,8/9/2023,810-73346-1,PFTrDA,0.007,µg/L,<,0.0000,AM,1,01

In [12]:
#Check for NAs
comb_df.isna().sum()

PWSName                  0
Size                     0
FacilityName             0
FacilityWaterType        0
SamplePointName          0
SamplePointType          0
CollectionDate           0
SampleID                 0
Contaminant              0
MRL                      0
Units                    0
AnalyticalResultsSign    0
AnalyticalResultValue    0
MonitoringRequirement    0
Region                   0
State                    0
dtype: int64

In [13]:
"""Data overview"""

# Display dataset overview
print("\n📌 Dataset Shape (Rows, Columns):")
print(comb_df.shape)

print("\n📌 Column Names:")
print(comb_df.columns.tolist())

print("\n📌 General Info:")
comb_df.info()  # No need to use print() since info() already prints output

print("\n📌 Missing Values Count per Column:")
print(comb_df.isna().sum())

print("\n📌 Percentage of Missing Values per Column:")
print(comb_df.isna().mean() * 100)

print("\n📌 Unique Value Count per Column:")
print(comb_df.nunique())

print("\n📌 Summary Statistics for Categorical Columns:")
print(comb_df.describe(include="object"))

print("\n📌 Number of Duplicate Rows:")
print(comb_df.duplicated().sum())

print("\n📌 Columns with Only One Unique Value:")
print(comb_df.nunique()[comb_df.nunique() == 1])

📌 Dataset Shape (Rows, Columns):
(3363695, 16)

📌 Column Names:
['PWSName', 'Size', 'FacilityName', 'FacilityWaterType', 'SamplePointName', 'SamplePointType', 'CollectionDate', 'SampleID', 'Contaminant', 'MRL', 'Units', 'AnalyticalResultsSign', 'AnalyticalResultValue', 'MonitoringRequirement', 'Region', 'State']

📌 General Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3363695 entries, 0 to 3363694
Data columns (total 16 columns):
 #   Column                 Dtype
---  ------                 -----
 0   PWSName                object
 1   Size                   object
 2   FacilityName           object
 3   FacilityWaterType      object
 4   SamplePointName        object
 5   SamplePointType        object
 6   CollectionDate         object
 7   SampleID               object
 8   Contaminant            object
 9   MRL                    float64
 10  Units                  object
 11  AnalyticalResultsSign  object
 12  AnalyticalResultValue  float64
 13  MonitoringRequirement  object
 14  Region                 int64
 15  State                  object
dtypes: float64(2), int64(1), object(13)
memory usage: 410.6+ MB

📌 Missing Values Count per Column:
PWSName                  0
Size                     0
FacilityName             0
FacilityWaterType        0
SamplePointName          0
SamplePointType          0
CollectionDate           0
SampleID                 0
Contaminant              0
MRL                      0
Units                    0
AnalyticalResultsSign    0
AnalyticalResultValue    0
MonitoringRequirement    0
Region                   0
State                    0
dtype: int64

📌 Percentage of Missing Values per Column:
PWSName                  0.0
Size                     0.0
FacilityName             0.0
FacilityWaterType        0.0
SamplePointName          0.0
SamplePointType          0.0
CollectionDate           0.0
SampleID                 0.0
Contaminant              0.0
MRL                      0.0
Units                    0.0
AnalyticalResultsSign    0.0
AnalyticalResultValue    0.0
MonitoringRequirement    0.0
Region                   0.0
State                    0.0
dtype: float64

📌 Unique Value Count per Column:
PWSName                   16507
Size                          2
FacilityName              25794
FacilityWaterType             4
SamplePointName           50316
SamplePointType               3
CollectionDate             2617
SampleID                 395782
Contaminant                  90
MRL                          33
Units                         3
AnalyticalResultsSign         2
AnalyticalResultValue     51938
MonitoringRequirement         3
Region                       10
State                        65
dtype: int64

📌 Summary Statistics for Categorical Columns:
                               PWSName     Size         FacilityName  \
count                          3363695  3363695              3363695
unique                           16507        2                25794
top     Suffolk County Water Authority        L  Distribution System
freq                             24119  2606676               267367

       FacilityWaterType              SamplePointName SamplePointType  \
count            3363695                      3363695         3363695
unique                 4                        50316               3
top                   GW  Entry Point to Dist. System              EP
freq             1834004                       406383         2983025

       CollectionDate SampleID Contaminant    Units AnalyticalResultsSign  \
count         3363695  3363695     3363695  3363695               3363695
unique           2617   395782          90        3                     2
top        11/14/2023    EP001       PFHpA     µg/L                     <
freq             8522       91       82296  3358475               2850960

       MonitoringRequirement    State
count                3363695  3363695
unique                     3       65
top                       AM       CA
freq                 3275905   504509

📌 Number of Duplicate Rows:
0

📌 Columns with Only One Unique Value:
Series([], dtype: int64)

In [14]:
"""Data overview 2: list of unique values per column"""

for col in comb_df.columns:
    unique_values = comb_df[col].unique()  # Get unique values
    print(f"\n📌 Unique values in column: {col} ({len(unique_values)} unique values)")
    print(unique_values[:10])  # Show only first 10 unique values for readability

📌 Unique values in column: PWSName (16507 unique values)
['Mashantucket Pequot Water System' 'Mohegan Tribal Utility Authority'
 'CATTARAUGUS CWS' 'POARCH CREEK UTILITIES - WEST' 'CHEROKEE WATER SYSTEM'
 'EAST BAY WATER WORKS' 'HANNAHVILLE COMMUNITY'
 'LITTLE RIVER TRIBAL WATER SYSTEM' 'VINELAND' 'PRAIRIE ISLAND']

📌 Unique values in column: Size (2 unique values)
['L' 'S']

📌 Unique values in column: FacilityName (25794 unique values)
['MPTN WTP' 'Blended Tank' 'Richardson Road Wells Treatment'
 'Connection to Erie County' 'MAIN PLANT-WEST WELL#1'
 'TULLIS TP - EAST WELL#2' 'Treatment Plant' 'Treatment Plant #1'
 'Treatment Plant #2' 'Hannahville Water Operations']

📌 Unique values in column: FacilityWaterType (4 unique values)
['GU' 'SW' 'GW' 'MX']

📌 Unique values in column: SamplePointName (50316 unique values)
['Entry point to Dist. System' 'Entry Point to Dist. System'
 'Finished Water Sample Tap - Treatment Plant POE'
 'Sample Tap @ Erie County POE' 'West Well-WELL#1' 'EAST Well-WELL#2'
 'Treatment Plant Sample Tap' 'TP#1 Entry Point Sample Tap'
 'TP#2 Entry Point Sample Tap'
 'Hannahville WTP Aftr Treatment + Before Distr']

📌 Unique values in column: SamplePointType (3 unique values)
['EP' 'DS' 'MR']

📌 Unique values in column: CollectionDate (2617 unique values)
['9/27/2023' '8/9/2023' '10/10/2023' '2/7/2024' '1/10/2024' '5/13/2024'
 '4/3/2024' '7/22/2024' '10/28/2024' '1/31/2024']

📌 Unique values in column: SampleID (395782 unique values)
['810-79458-1' '810-73346-1' '810-81002-1' '810-93091-1' '810-90345-1'
 '810-104400-1' '810-99386-1' '810-105027-1' '810-112695-1' '810-125996-1']

📌 Unique values in column: Contaminant (90 unique values)
['9Cl-PF3ONS' 'NEtFOSAA' 'PFNA' 'PFHpA' 'PFTrDA' 'PFHxS' 'ADONA' 'PFTA'
 'PFOA' 'NMeFOSAA']

📌 Unique values in column: MRL (33 unique values)
[ 2.e-03  5.e-03  4.e-03  3.e-03  7.e-03  8.e-03  6.e-03  9.e+00  2.e-02
 -1.e+00]

📌 Unique values in column: Units (3 unique values)
['µg/L' 'GC/L' 'MPN/L']

📌 Unique values in column: AnalyticalResultsSign (2 unique values)
['<' '=']

📌 Unique values in column: AnalyticalResultValue (51938 unique values)
[0.     0.0035 0.0074 0.0092 0.0036 0.0063 0.0182 0.0062 0.0071 0.0185]

📌 Unique values in column: MonitoringRequirement (3 unique values)
['AM' 'SS' 'PST']

📌 Unique values in column: Region (10 unique values)
[ 1  2  4  5  6  8  9 10  3  7]

📌 Unique values in column: State (65 unique values)
['01' '02' '04' '05' '06' '08' '09' '10' 'AK' 'AL']

In [15]:
"""Data preprocessing 1: drop cols, filter for PFAS, add cols for Year and Month, calculate relative contamination levels"""


# Drop cols
### Add code here later, the df is small enough to handle for now

# Filter data for PFAS contaminants
pfas_list = [
    "PFOA", "PFBS", "PFHpA", "PFHxS", "PFNA", "PFOS", "9Cl-PF3ONS", "NEtFOSAA",
    "PFTrDA", "ADONA", "PFTA", "NMeFOSAA", "PFHxA", "HFPO-DA", "PFPeS", "PFHpS",
    "PFDoA", "PFMPA", "11Cl-PF3OUdS", "PFDA", "PFEESA", "PFUnA", "PFBA", "PFPeA",
    "8:2 FTS", "NFDHA", "6:2 FTS", "4:2 FTS", "PFMBA"
]

df_PFAS = comb_df[comb_df["Contaminant"].isin(pfas_list)].copy()  


# Convert 'CollectionDate' to datetime, drop rows with missing datetime string
# Add cols for Year and Month 
df_PFAS["CollectionDate"] = pd.to_datetime(df_PFAS["CollectionDate"], errors='coerce')
df_PFAS = df_PFAS.dropna(subset=["CollectionDate"]) 

df_PFAS["Year"] = df_PFAS["CollectionDate"].dt.year
df_PFAS["Month"] = df_PFAS["CollectionDate"].dt.month


# Add cols for MRL level exceeded: Count '<' and '=' occurrences and create seperate columns, add a col for count of both (total)
df_PFAS.loc[:, 'Count_Less_Than'] = (df_PFAS['AnalyticalResultsSign'] == '<').astype(int)
df_PFAS.loc[:, 'Count_Equals'] = (df_PFAS['AnalyticalResultsSign'] == '=').astype(int)
df_PFAS.loc[:, "Total_Values"] = df_PFAS["Count_Less_Than"] + df_PFAS["Count_Equals"]

# Add a column for proportion of contaminated samples
df_PFAS['Equals_Per_Total'] = df_PFAS['Count_Equals'] / df_PFAS['Total_Values']


# Add col for Relative Contamination level (delta AnalyticalResultValue / MRL); only for values with AnalyticalResultsSign "="
# This divides the measured value for samples exceeding the threshold MRL, by the MRL value
# Result is a measure how much the MRL is exceeded
df_PFAS.loc[df_PFAS["AnalyticalResultsSign"] == "=", "Relative_Contamination_Level"] = (
    df_PFAS["AnalyticalResultValue"] / df_PFAS["MRL"]
)


print("\n📌 Processed data -- General Info:")
df_PFAS.info()  

display(df_PFAS)

📌 Processed data -- General Info:
<class 'pandas.core.frame.DataFrame'>
Index: 1537584 entries, 0 to 3363694
Data columns (total 23 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   PWSName                       1537584 non-null  object
 1   Size                          1537584 non-null  object
 2   FacilityName                  1537584 non-null  object
 3   FacilityWaterType             1537584 non-null  object
 4   SamplePointName               1537584 non-null  object
 5   SamplePointType               1537584 non-null  object
 6   CollectionDate                1537584 non-null  datetime64[ns]
 7   SampleID                      1537584 non-null  object
 8   Contaminant                   1537584 non-null  object
 9   MRL                           1537584 non-null  float64
 10  Units                         1537584 non-null  object
 11  AnalyticalResultsSign         1537584 non-null  object
 12  AnalyticalResultValue         1537584 non-null  float64
 13  MonitoringRequirement         1537584 non-null  object
 14  Region                        1537584 non-null  int64
 15  State                         1537584 non-null  object
 16  Year                          1537584 non-null  int32
 17  Month                         1537584 non-null  int32
 18  Count_Less_Than               1537584 non-null  int32
 19  Count_Equals                  1537584 non-null  int32
 20  Total_Values                  1537584 non-null  int32
 21  Equals_Per_Total              1537584 non-null  float64
 22  Relative_Contamination_Level  27957 non-null    float64
dtypes: datetime64[ns](1), float64(4), int32(5), int64(1), object(12)
memory usage: 284.5+ MB

,PWSName,Size,FacilityName,FacilityWaterType,SamplePointName,SamplePointType,CollectionDate,SampleID,Contaminant,MRL,...,MonitoringRequirement,Region,State,Year,Month,Count_Less_Than,Count_Equals,Total_Values,Equals_Per_Total,Relative_Contamination_Level
0,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-09-27,810-79458-1,9Cl-PF3ONS,0.002,...,AM,1,01,2023,9,1,0,1,0.0,NaN
1,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-08-09,810-73346-1,NEtFOSAA,0.005,...,AM,1,01,2023,8,1,0,1,0.0,NaN
2,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-09-27,810-79458-1,PFNA,0.004,...,AM,1,01,2023,9,1,0,1,0.0,NaN
3,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-09-27,810-79458-1,PFHpA,0.003,...,AM,1,01,2023,9,0,1,1,1.0,1.166667
4,Mashantucket Pequot Water System,L,MPTN WTP,GU,Entry point to Dist. System,EP,2023-08-09,810-73346-1,PFTrDA,0.007,...,AM,1,01,2023,8,1,0,1,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3363679,Casper Board of Public Utilities,L,GUDI Plant,GU,EPTDS from GUDI Plant,EP,2015-12-16,201511140097AM,PFBS,0.090,...,AM,8,WY,2015,12,1,0,1,0.0,NaN
3363680,Casper Board of Public Utilities,L,GUDI Plant,GU,EPTDS from GUDI Plant,EP,2015-12-16,201511140097AM,PFHpA,0.010,...,AM,8,WY,2015,12,1,0,1,0.0,NaN
3363681,Casper Board of Public Utilities,L,GUDI Plant,GU,EPTDS from GUDI Plant,EP,2015-12-16,201511140097AM,PFHxS,0.030,...,AM,8,WY,2015,12,1,0,1,0.0,NaN
3363682,Casper Board of Public Utilities,L,GUDI Plant,GU,EPTDS from GUDI Plant,EP,2015-12-16,201511140097AM,PFNA,0.020,...,AM,8,WY,2015,12,1,0,1,0.0,NaN
3363694,Casper Board of Public Utilities,L,GUDI Plant,GU,EPTDS from GUDI Plant,EP,2015-12-16,201511140097AM,PFOS,0.040,...,AM,8,WY,2015,12,1,0,1,0.0,NaN

# Data Collection
The dataset examined here was obtained from https://www.census.gov/data/developers/data-sets/Poverty-Statistics.html, and provides small area income and poverty esitmates (SAIPE) of income and poverty statistics from states. The data aims to provide estimates of income and poverty for the administration of federal programs.

The data was collected through an API call from census.gov. The code for the API implementation is given below. This dataset is relevant to our research questions since we are interested in determining if PFAs contamination have any correlation with poverty levels, as well as region. It also provides insight into population/density features and their relationship with poverty levels, which may also provide further details on the risk of PFAs.

In [16]:
#API REQUEST TO GET POVERTY DATA

url = "https://api.census.gov/data/timeseries/poverty/saipe"
params = {
    #SPECFIC VARIABLES OF INTEREST - Ensuring Project Relevance
    "get": "NAME,SAEMHI_PT,SAEPOV0_17_PT,SAEPOVRT0_17_PT,SAEPOVALL_PT,SAEPOVRTALL_PT,SAEPOVU_0_17,SAEPOVU_ALL,STABREV,STATE,YEAR",
    "for": "state:*",
}

response = requests.get(url, params=params)
if response.status_code == 200:
    data = response.json()
else:
    print(f"Request failed with status code {response.status_code}")

# CREATE DATA FRAME
df = pd.DataFrame(data[1:], columns=data[0])

# Data Cleaning and Preprocessing

## Understanding the Data

The following code cleans this dataset to make it more suitable for further analysis. Missing values, duplicates, or any outliers are assessed along with updating the dataset to include more interpretable column names and only include relevant years in relation to the other dataset used (EPA data). It also assess the data for completeness, consistency, and usability.

In [17]:
# Making Column Names more interpretable
df = df.rename(columns={'SAEMHI_PT': 'Median_Income',
                        'SAEPOV0_17_PT': 'Child_Poverty_Count',
                        'SAEPOVRT0_17_PT': 'Child_Poverty_Rate',
                        'SAEPOVALL_PT': 'Poverty_Count',
                        'SAEPOVRTALL_PT': 'Poverty_Rate',
                        'SAEPOVU_0_17': 'All_Child_Poverty_Count',
                        'SAEPOVU_ALL': 'All_Poverty_Count'})

# Drop redundant Columns
df = df.drop(columns = [ 'state' ])


# Convert Columns to proper data type
exclude_columns = ['NAME', 'STABREV']
columns_to_convert = [col for col in df.columns if col not in exclude_columns]
df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce', downcast='integer')

# Filter for relevant years
years_of_interest = [2013, 2014, 2015, 2018, 2019, 2020, 2023, 2024, 2025]
df = df[df['YEAR'].isin(years_of_interest)]

#Exaimining Data Types
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 357 entries, 1020 to 1580
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   NAME                     357 non-null    object
 1   Median_Income            357 non-null    int32
 2   Child_Poverty_Count      357 non-null    int32
 3   Child_Poverty_Rate       357 non-null    float64
 4   Poverty_Count            357 non-null    int32
 5   Poverty_Rate             357 non-null    float64
 6   All_Child_Poverty_Count  357 non-null    float64
 7   All_Poverty_Count        357 non-null    float64
 8   STABREV                  357 non-null    object
 9   STATE                    357 non-null    int8
 10  YEAR                     357 non-null    int16
dtypes: float64(4), int16(1), int32(3), int8(1), object(2)
memory usage: 24.8+ KB

In [18]:
#Exaimine NA Values
df.isna().sum().sum()

#Resolved

0

# Combining EPA and poverty datasets

In [19]:
df.head()

,NAME,Median_Income,Child_Poverty_Count,Child_Poverty_Rate,Poverty_Count,Poverty_Rate,All_Child_Poverty_Count,All_Poverty_Count,STABREV,STATE,YEAR
1020,Alabama,42882,300649,27.4,889091,18.9,1096240.0,4716072.0,AL,1,2013
1021,Alaska,70058,25030,13.6,72643,10.1,184278.0,718370.0,AK,2,2013
1022,Arizona,48504,422435,26.6,1206948,18.6,1590036.0,6477186.0,AZ,4,2013
1023,Arkansas,40605,197129,28.3,557399,19.4,695853.0,2873346.0,AR,5,2013
1024,California,60185,2119056,23.5,6328064,16.8,9030489.0,37593095.0,CA,6,2013

In [20]:
df_PFAS[df_PFAS['State']=='CO']

,PWSName,Size,FacilityName,FacilityWaterType,SamplePointName,SamplePointType,CollectionDate,SampleID,Contaminant,MRL,...,MonitoringRequirement,Region,State,Year,Month,Count_Less_Than,Count_Equals,Total_Values,Equals_Per_Total,Relative_Contamination_Level
283014,BRIGHTON CITY OF,L,Storage Tank for CT 8 MG,GU,Entry Point,EP,2024-01-17,K2400555-001,NEtFOSAA,0.005,...,AM,8,CO,2024,1,1,0,1,0.0,NaN
283015,BRIGHTON CITY OF,L,Storage Tank for CT 8 MG,GU,Entry Point,EP,2024-01-17,K2400555-001,PFUnA,0.002,...,AM,8,CO,2024,1,1,0,1,0.0,NaN
283016,BRIGHTON CITY OF,L,Storage Tank for CT 8 MG,GU,Entry Point,EP,2024-01-17,K2400555-001,PFHpA,0.003,...,AM,8,CO,2024,1,1,0,1,0.0,NaN
283017,BRIGHTON CITY OF,L,Storage Tank for CT 8 MG,GU,Entry Point,EP,2024-01-17,K2400555-001,PFBS,0.003,...,AM,8,CO,2024,1,0,1,1,1.0,1.833333
283018,BRIGHTON CITY OF,L,Storage Tank for CT 8 MG,GU,Entry Point,EP,2024-01-17,K2400555-001,PFPeS,0.004,...,AM,8,CO,2024,1,1,0,1,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2574817,CSU Main & West Housing Campus,L,Fort Collins Intertie,SW,EPTDS from Fort Collins,EP,2014-07-22,A4G0048-01A,PFOS,0.040,...,AM,8,CO,2014,7,1,0,1,0.0,NaN
2574818,CSU Main & West Housing Campus,L,Fort Collins Intertie,SW,EPTDS from Fort Collins,EP,2014-07-22,A4G0048-01A,PFNA,0.020,...,AM,8,CO,2014,7,1,0,1,0.0,NaN
2574819,CSU Main & West Housing Campus,L,Fort Collins Intertie,SW,EPTDS from Fort Collins,EP,2014-07-22,A4G0048-01A,PFHxS,0.030,...,AM,8,CO,2014,7,1,0,1,0.0,NaN
2574820,CSU Main & West Housing Campus,L,Fort Collins Intertie,SW,EPTDS from Fort Collins,EP,2014-07-22,A4G0048-01A,PFHpA,0.010,...,AM,8,CO,2014,7,1,0,1,0.0,NaN
2574821,CSU Main & West Housing Campus,L,Fort Collins Intertie,SW,EPTDS from Fort Collins,EP,2014-07-22,A4G0048-01A,PFBS,0.090,...,AM,8,CO,2014,7,1,0,1,0.0,NaN

In [21]:
df=df.rename(columns={'STABREV':'State','YEAR':'Year'})
df.head(9)

,NAME,Median_Income,Child_Poverty_Count,Child_Poverty_Rate,Poverty_Count,Poverty_Rate,All_Child_Poverty_Count,All_Poverty_Count,State,STATE,Year
1020,Alabama,42882,300649,27.4,889091,18.9,1096240.0,4716072.0,AL,1,2013
1021,Alaska,70058,25030,13.6,72643,10.1,184278.0,718370.0,AK,2,2013
1022,Arizona,48504,422435,26.6,1206948,18.6,1590036.0,6477186.0,AZ,4,2013
1023,Arkansas,40605,197129,28.3,557399,19.4,695853.0,2873346.0,AR,5,2013
1024,California,60185,2119056,23.5,6328064,16.8,9030489.0,37593095.0,CA,6,2013
1025,Colorado,58942,204866,16.8,665351,12.9,1222544.0,5151496.0,CO,8,2013
1026,Connecticut,67262,112225,14.5,373387,10.7,775350.0,3485349.0,CT,9,2013
1027,Delaware,58244,38254,19.1,115774,12.9,200641.0,900322.0,DE,10,2013
1028,District of Columbia,66326,32071,29.3,115096,18.8,109630.0,611783.0,DC,11,2013

In [30]:
big_df=pd.merge(df_PFAS,df,on=['State', 'Year'], how='outer')
big_df.head()

,PWSName,Size,FacilityName,FacilityWaterType,SamplePointName,SamplePointType,CollectionDate,SampleID,Contaminant,MRL,...,Relative_Contamination_Level,NAME,Median_Income,Child_Poverty_Count,Child_Poverty_Rate,Poverty_Count,Poverty_Rate,All_Child_Poverty_Count,All_Poverty_Count,STATE
0,Mohegan Tribal Utility Authority,L,Blended Tank,SW,EPTDS from Tank,EP,2013-11-20,2934713,PFOS,0.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Mohegan Tribal Utility Authority,L,Blended Tank,SW,EPTDS from Tank,EP,2013-11-20,2934713,PFBS,0.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mohegan Tribal Utility Authority,L,Blended Tank,SW,EPTDS from Tank,EP,2013-11-20,2934713,PFHpA,0.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mohegan Tribal Utility Authority,L,Blended Tank,SW,EPTDS from Tank,EP,2013-11-20,2934713,PFNA,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Mohegan Tribal Utility Authority,L,Blended Tank,SW,EPTDS from Tank,EP,2013-11-20,2934713,PFOA,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
big_df.shape

(1537737, 32)

In [35]:
big_df.to_csv('C:/Users/chenc/OneDrive/Desktop/big_df.csv',index=False)